@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 0.875rem;
    color: rgb(211, 211, 211);
    background: linear-gradient(45deg, rgba(47, 3, 3, 1) 0%, rgba(78, 0, 0, 1) 100%);
}
.booklist {
    width: 95vw;
    max-width: 1100px;
    margin: 0 auto;
    padding: 90px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    column-gap: 2rem;
    row-gap: 10.5rem;
    justify-content: space-between;
    align-items: center;
}
.frame {
    width: 13.438rem;
    height: 15.625rem;
    background: transparent;
    border: 12px solid rgb(197, 0, 0);
    text-align: center;
    padding: 10px;
}
.displayCover {
    height: 231px;
    width: 150px;
    object-fit: cover;
    margin-bottom: 0.625rem;
    box-shadow:
            0px 1.9px 2px rgba(0, 0, 0, 0.053),
            0px 4.7px 4.9px rgba(0, 0, 0, 0.077),
            0px 8.8px 9.1px rgba(0, 0, 0, 0.095),
            0px 15.6px 16.3px rgba(0, 0, 0, 0.113),
            0px 29.2px 30.5px rgba(0, 0, 0, 0.137),
            0px 70px 73px rgba(0, 0, 0, 0.19);
}
.book-name {
    height: 3.5rem;
    font-size: 1rem;
}
.author-name {
    margin-bottom: 0.8rem;
}
